[[source]]
name = "pypi"
url = "http://mirror.kakao.com/pypi/simple/"
verify_ssl = false

[dev-packages]
pylint = "*"
pre-commit = "*"
commitizen = "*"

[packages]
xenapi = "*"
fastapi = {version = "*"}
databases = {extras = ["mysql"], version = "*"}
uvicorn = "*"
pyfiglet = "*"
schedule = "*"
ujson = "*"
requests = "*"
configparser = "*"
setuptools = "*"
mysqlclient = "*"
xengarden = {editable = true, git = "https://github.com/Stella-IT/XenGarden.git"}
black = {editable = true, git = "git://github.com/psf/black"}

[scripts]
start = "python3 main.py"
test = "python3 test.py"
pre-commit-setup = "pre-commit install --hook-type commit-msg"

[pipenv]
allow_prereleases = true
