[[source]]
name = "pypi"
url = "http://mirror.kakao.com/pypi/simple/"
verify_ssl = false

[dev-packages]
pylint = "*"
pre-commit = "*"
black = "*"
commitizen = "*"

[packages]
xenapi = "*"
fastapi = {version = "*"}
databases = {extras = ["mysql"], version = "*"}
uvicorn = "*"
uvloop = "*"
aiojobs = "*"
pyfiglet = "*"
schedule = "*"
deprecated = "*"
ujson = "*"
requests = "*"
configparser = "*"
setuptools = "*"
mysqlclient = "*"

[scripts]
start = "python3 main.py"
test = "python3 test.py"
pre-commit-setup = "pre-commit install --hook-type commit-msg"

[pipenv]
allow_prereleases = true