name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: lgeiger/black-action@v1.0.1
        with:
          args: ". -t py38 --diff"
